
{% extends 'base.html' %}
{% load markdown_deux_tags %}          
          {%block title%} {{post.title}} {%endblock%}


          {% block boby %}
        <div class="col-sm-8 blog-main">
        
          <div class="blog-post">
          
            <h5 class="blog-post-title">{{post.title}}</h5></br>
            <p class="blog-post-meta">{{post.publish_time.year }}年{{post.publish_time.month}}月{{post.publish_time.day}}日 &nbsp;&nbsp;   <p5 style ="color: #8692AD;" >{{post.category}}</p5>
&nbsp;&nbsp;
{%if request.user.is_authenticated%}

	<a href=" {%url 'uedit' post.id%}">编辑文章</a>
{%endif%}
</p>
          

            {{ post.content |safe}}
            
         
        
          </div><!-- /.blog-post -->
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{post.id}}" data-title="{{post.title}}" data-url="http://exexue.com/show/{{post.id}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"exexue"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

          
        {% endblock %}

        
